@import "tailwindcss"

@theme
  --color-primary: #fff
  --color-secondary: #fff
  --color-success: #fff
  --color-warning: #fff

*
  font-family: "Inter", Roboto, Helvetica, Arial, sans-serif

  box-sizing: border-box

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
